.nav ul {
  display: flex;
  align-items: center;
}

.nav li:first-child {
  margin-right: auto;
}

.nav a {
  display: block;
  padding: 1rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
}

.nav a:hover,
.nav a:focus-visible,
.nav a.active {
  color: var(--color700);
}

.nav img {
  height: 1.5rem;
}
